GetGoldSilverDailyRate/Connected Services/GetSilverDailyRateServiceReference/GetSilverPrice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://freewebservicesx.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://freewebservicesx.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://freewebservicesx.com/">
      <s:element name="GetCurrentSilverPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentSilverPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentSilverPriceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCurrentSilverPriceSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentSilverPrice" />
  </wsdl:message>
  <wsdl:message name="GetCurrentSilverPriceSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentSilverPriceResponse" />
  </wsdl:message>
  <wsdl:portType name="GetSilverPriceSoap">
    <wsdl:operation name="GetCurrentSilverPrice">
      <wsdl:input message="tns:GetCurrentSilverPriceSoapIn" />
      <wsdl:output message="tns:GetCurrentSilverPriceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetSilverPriceSoap" type="tns:GetSilverPriceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentSilverPrice">
      <soap:operation soapAction="http://freewebservicesx.com/GetCurrentSilverPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetSilverPriceSoap12" type="tns:GetSilverPriceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentSilverPrice">
      <soap12:operation soapAction="http://freewebservicesx.com/GetCurrentSilverPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetSilverPrice">
    <wsdl:port name="GetSilverPriceSoap" binding="tns:GetSilverPriceSoap">
      <soap:address location="http://www.freewebservicesx.com/freewebservices/GetSilverPrice.asmx" />
    </wsdl:port>
    <wsdl:port name="GetSilverPriceSoap12" binding="tns:GetSilverPriceSoap12">
      <soap12:address location="http://www.freewebservicesx.com/freewebservices/GetSilverPrice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>