GetGoldSilverDailyRate/Connected Services/GetGoldDailyRateServiceReference/GetGoldPrice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://freewebservicesx.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://freewebservicesx.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://freewebservicesx.com/">
      <s:element name="GetCurrentGoldPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentGoldPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentGoldPriceResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCurrentGoldPriceSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentGoldPrice" />
  </wsdl:message>
  <wsdl:message name="GetCurrentGoldPriceSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentGoldPriceResponse" />
  </wsdl:message>
  <wsdl:portType name="GetGoldPriceSoap">
    <wsdl:operation name="GetCurrentGoldPrice">
      <wsdl:input message="tns:GetCurrentGoldPriceSoapIn" />
      <wsdl:output message="tns:GetCurrentGoldPriceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetGoldPriceSoap" type="tns:GetGoldPriceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentGoldPrice">
      <soap:operation soapAction="http://freewebservicesx.com/GetCurrentGoldPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetGoldPriceSoap12" type="tns:GetGoldPriceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentGoldPrice">
      <soap12:operation soapAction="http://freewebservicesx.com/GetCurrentGoldPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetGoldPrice">
    <wsdl:port name="GetGoldPriceSoap" binding="tns:GetGoldPriceSoap">
      <soap:address location="http://www.freewebservicesx.com/freewebservices/GetGoldPrice.asmx" />
    </wsdl:port>
    <wsdl:port name="GetGoldPriceSoap12" binding="tns:GetGoldPriceSoap12">
      <soap12:address location="http://www.freewebservicesx.com/freewebservices/GetGoldPrice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>